@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.ContainFiltro {
  display: flex;
  justify-content: center;
  padding-block: 5%;
  gap: 5%;
}

.select {
  background-color: #f1d518;
  border-radius: 5px;
  border: 3px solid black;
  width: 125px;
  font-family: "Roboto";
}

.select option{
  text-align: center;
}